.redirect {
  height: 48px;
  line-height: 48px;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.87);
}

.logo {
  img {
    max-width: 100%;
  }
}
