.container {
  padding: 5px;
  font-size: 14px;
}

.eveningAbon {
  text-align: center;
}

.subtitle {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.table {
  font-size: 12px;
  & td {
    padding: 10px;
    border-top: 1px solid #9e9e9e;
  }
  & th {
    color: #9e9e9e;
    padding: 10px;
    font-weight: normal;
  }

  &:first-child td {
    border-top: none;
  }
}
