.introtext {
  padding: 0 10px;
}

.form {
  position: relative;
  padding: 0 10px;
}

.overlay {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(214, 214, 214, 0.45);
}
